.example-focus-monitor {
  padding: 20px;
}

.example-focus-monitor .cdk-mouse-focused {
  background: rgba(255, 0, 0, 0.5);
}

.example-focus-monitor .cdk-keyboard-focused {
  background: rgba(0, 255, 0, 0.5);
}

.example-focus-monitor .cdk-touch-focused {
  background: rgba(0, 0, 255, 0.5);
}

.example-focus-monitor .cdk-program-focused {
  background: rgba(255, 0, 255, 0.5);
}

button {
  margin-right: 12px;
}
.example-accordion {
  display: block;
  max-width: 500px;
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.example-accordion-item + .example-accordion-item {
  border-top: none;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
textarea {
  display: block;
  margin: 4px 0 8px;
}
.example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  .example-listbox-container {
    display: block;
    width: 250px;
    border: 1px solid black;
  }
  
  .example-listbox-label {
    display: block;
    padding: 5px;
  }
  
  .example-listbox {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .example-option {
    position: relative;
    padding: 5px 5px 5px 25px;
  }
  
  .example-option[aria-selected='true']::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m9.55 18-5.7-5.7 1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4Z"/></svg>'); /* stylelint-disable-line */
    background-size: cover;
    position: absolute;
    left: 2px;
  }
  
  .example-listbox:focus .cdk-option-active {
    background: rgba(0, 0, 0, 0.2);
  }
  